HELP.md
application.properties
application-dev.properties
application-prod.properties
application-test.properties
application-local.properties
application-dev.properties
application-prod.properties
application-test.properties
application-local.properties
application.yml
application-dev.yml
application-prod.yml
application-test.yml
application-local.yml
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Markdown Files ###
# 모든 .md 파일 무시 (README.md 제외)
*.md
!README.md
!readme.md
